:root {
  --textColor: #444444;
  --backgroundColor: #ffffff;
  --appColor: #dc4c4f;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

.video-iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /*This gives it a 16x9 ratio*/
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

body {
  display: grid;
  height: 98vh;
  grid-template-rows: 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--backgroundColor);
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box {
  flex: 1 1 292px;
  max-width: 400px;
  padding: 20px;
}

.bigBox {
  flex: 1 1 292px;
  max-width: 800px;
  padding: 20px;
}

.button-border {
  border: 2px solid var(--textColor);
  border-radius: 4px;
}

.new-paragraph {
  padding-top: 16px;
  color: var(--appColor);
}

header {
  padding: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: var(--textColor);
}

.footer-link {
  font-size: 0.8rem; /* Makes the text smaller */
  color: var(--appColor); /* Uses your app color variable */
  text-decoration: none; /* Removes the default underline */
}

.footer-link:hover {
  text-decoration: underline; /* Adds underline on hover */
}

p {
  margin: 0 0 1em 0;
  font-weight: 500;
  color: var(--textColor);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-size: 8vw;
  margin: 0.33em 0 0.33em 0;
  color: var(--textColor);
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3em;
  }
}
